<div>
  <div class="floor"></div>
  <img
    class="char"
    [src]="'assets/heroes/'+hero.image+'.gif'"
    alt="hero"
    [class.flipped]="flipped"
    [class.dead]="checkHealth()"
    [@onDamageAnimation]="animState"
    (@onDamageAnimation.done)="resetAnim()"
    >
  <img 
    *ngIf="hero.shield"
    src="assets/icons/shield.svg"
    class="shield svg"
    alt="shield">
  <app-hexa-button (click)="onClick()" [disabled]="checkHealth()">
    <div>
      <h4>{{ hero.name }}</h4>
      <app-health-bar [life]="hero.health" [maxLife]="hero.maxHealth" [dead]="checkHealth()"></app-health-bar>
    </div>
  </app-hexa-button>
  <img
    *ngIf="chosen"
    class="arrow"
    src="assets/Arrow.gif"
    alt="arrow">
</div>
