div {
  width: 200px;
  height: 230px;
  position: relative;
  .arrow {
    position: absolute;
    width: 30px;
    top: -35px;
    left: 100px-15px;
  }
  .char {
    position: absolute;
    left: (100px-40px);
    top: 0;
    width: 80px;
  }
  .dead {
    filter: grayscale(100%);
  }
  app-hexa-button {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    div {
      width: 100%;
      height: 100%;
    }
  }

  .floor {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 30px;
    border-radius: 50%;
    background-color: #00000055;
  }
   .flipped {
     transform: rotateY(180deg);
   }
}
