<div *ngIf="choosingIndex === -1">
  <h2>Waiting for opponents to join...</h2>
</div>
<div *ngIf="choosingIndex <= 2">
  <h2>What will {{ heroes[choosingIndex].name }} do?</h2>
  <div class="moveset" *ngIf="choosingIndex <= 2">
    <app-hexa-button
      *ngFor="let m of getMoveset()"
      (click)="chooseMove(m)"
      >
        <div>
          <h3>{{ m.name }}</h3>
          <div class="row">
            <p>{{ m.pwr }}</p>
            <p>{{ m.uses }}/{{ m.maxUsage }}</p>
          </div>
        </div>
      </app-hexa-button>
  </div>
</div>
<div *ngIf="choosingIndex > 2">
  <h2>Waiting for opponents move...</h2>
</div>
