<div class="field-wrap">
  <div class="field">
    <app-field-char
      [chosen]="friendChosen === i"
      class="hero-grid"
      *ngFor="let h of playerTeam; let i = index"
      (click)="friendChosen = i"
      [hero]="h"></app-field-char>
    <app-field-char
      [chosen]="enemyChosen === i"
      [flipped]="true"
      class="hero-grid"
      *ngFor="let h of enemyTeam; let i = index"
      (click)="enemyChosen = i"
      [hero]="h"></app-field-char>
    <div class="msg">
      <app-hexa-button *ngIf="msg">
        {{ msg }}
      </app-hexa-button>
    </div>
  </div>
</div>
