<div class="field-wrap">
  <div class="field">
    <app-field-char
      [chosen]="friendChosen === i"
      class="hero-grid"
      *ngFor="let h of playerTeam; let i = index"
      (click)="chooseFriend(i)"
      [hero]="h"></app-field-char>
    <app-field-char
      [chosen]="enemyChosen === i"
      [flipped]="true"
      class="hero-grid"
      *ngFor="let h of enemyTeam; let i = index"
      (click)="chooseEnemy(i)"
      [hero]="h"></app-field-char>
    <div class="msg">
      <app-hexa-button *ngIf="msg" (click)="msgButtonHandler()">
        {{ msg }}
      </app-hexa-button>
    </div>
    <div class="timer">
      <h2>{{ timer$ | async }}</h2>
    </div>
    <div class="room">
      <h1>Room: {{ id }}</h1>
    </div>
  </div>
</div>
