.field {
  background-image: linear-gradient(to top, #d4f0fc, #ebf9ff);
  padding: 15px;
  border: solid 2px #aaaaaa;
  text-align: center;
  display: grid;
  grid-template-areas: 
  ". c1 . . . . e1 ."
  ". c1 . . . . e1 ."
  ". . c2 v v e2 . ."
  ". . c2 v v e2 . ."
  ". c3 m m m m e3 ."
  ". c3 m m m m e3 ."
  ;
  .hero-grid {
    &:nth-child(1) {
      grid-area: c2;
    }
    &:nth-child(2) {
      grid-area: c1;
    }
    &:nth-child(3) {
      grid-area: c3;
    }
    &:nth-child(4) {
      grid-area: e2;
    }
    &:nth-child(5) {
      grid-area: e1;
    }
    &:nth-child(6) {
      grid-area: e3;
    }
  }
  .msg {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    grid-area: m;
  }
  .vs {
    grid-area: v;
  }
}
