<mat-card>
  <mat-card-title>Start Game</mat-card-title>
  <mat-card-content>
    <div class="row">
      <button class="col" mat-button color="basic">Create Game</button>
      <h3>OR</h3>
      <div class="col">
        <mat-form-field appearance="legacy">
          <mat-label>Game code</mat-label>
          <input type="text" matInput placeholder="0123456789abc">
        </mat-form-field>
        <button style="margin-left: 5px" mat-button color="primary">Join game</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
